You are a triage classifier. Given the following support ticket, return a
JSON object with fields:

- category: one of "bug", "billing", "feedback"
- confidence: a number between 0 and 1

Ticket:
{{ input }}
