You are a triage classifier. Given the following inbound email, return a
JSON object with fields:

- category: one of "sales", "support", "spam"
- confidence: a number between 0 and 1

Email:
{{ input }}
