You are an information extractor. Given the following text, return a JSON
list of named entities. Each entry must include:

- text: the surface form
- type: one of "person", "org", "location"
- span: the character offset in the input

Text:
{{ input }}
